* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green-color-one: #0DBDAD;
    --orange-color-one: #F7921E;
    --dark-green-one: #023442;
    --white-color-one: #FFFFFF;
    --light-green-one: #EFF6EC;
    --light-grey-one: #d9d9d9;
    --spacing-large: 2rem;
}

/*header*/
h1, h2{
    font-family: "Raleway", sans-serif;
}

h3, h4, h5, h6, li {
    font-family: "Raleway", sans-serif;
}

p, label, a {
    font-family: "Outfit", sans-serif;
}

/* Font Sizes */

h1 {
    font-size: clamp(1.7rem, 1.199rem + 3.209vw, 2.4rem);;
}
h2 {
    font-size: clamp(1.5rem, 1.07rem + 2.751vw, 2.1rem)
}

h3 {
    font-size: clamp(1.3rem, 0.942rem + 2.292vw, 1.8rem)
}

h4 {
    font-size: clamp(1rem, 0.642rem + 2.292vw, 1.5rem);
}

li, a, p, h6{
    font-size: clamp(1rem, 0.8rem + 1vw, 1.2rem);
}

p {
    font-weight: 300;
}

h6 {
    font-weight: 500;
}

body h2, body h3, footer h4, footer h6 {
    color: var(--dark-green-one);
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

a {
    text-decoration: none;
}

/*header*/

header {
    padding: 1rem;
    justify-content: space-between;
    position: absolute;
    z-index: 200;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
}

header , .nav-bar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar ul {
    justify-content: space-evenly;
    gap: 0.4rem;

}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    color: var(--white-color-one);
}

.nav-bar ul li a:hover {
    background-color: var(--orange-color-one);
    border: 5px solid var(--orange-color-one);
}

header img {
    width: 7rem;
}

.hero {
    position: relative;
    background-image: url("images/background4.png");
    justify-content: flex-start;
    padding-top: 30vh;
    padding-bottom: 30vh;
}

.hero-title h1 {
    display: inline-block;
    width: 60vw;
    text-align: center;
}

.hero-title h1 span {
    color: var(--white-color-one);
}

.hero-title h2  {
    color: var(--orange-color-one);
}

/*section one*/

.section-one {
    margin-top: -5vh;
}
.sc-div1 img {
    height: 80vh;
    z-index: 2;
}

.sc-div2 {
    padding: var(--spacing-large);
}

.sc-div2 h2 {
    margin-bottom: 1rem;
    text-align: center;
}

/*section-two*/
.section-two {
    flex-direction: column-reverse;
    padding: var(--spacing-large);
}

.sc-two-div1 img {
    width: 100vw;
}

.sc-two-div2 {
    padding: var(--spacing-large);
    gap: 1rem;
}

/*section-three*/

.section-three {
    background-color: var(--light-green-one);
}

.section-three , .sc-three-div1{
    padding: 4rem 2rem;
    gap: 1rem;
}

.sc-three-div1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-three img {
    width: 100%;
}

.sc-three-div1 p {
    width: 70vw;
}

.sc-three-div2 {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 8px;
    padding: 2rem;

}

.div3 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row-start: 6;
}

.div4 {
    grid-row-start: 3;
}

.div5 {
    grid-row-start: 3;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
}




/*SECTION FOUR*/
.section-four {
    background-image: url("images/background5.png");
    padding: 4rem 0;
}

.sc3-div1 {
    padding: 3rem 1rem;
}

.sc3-div1 h1 {
    color: var(--white-color-one);
}

.ssc3-div2-box {
    background-color: var(--light-green-one);
}

.sc3-div2-box p {
    color: var(--dark-green-one);
}

.sc3-div1 h4, .sc3-div2-box h4 {
    color: var(--orange-color-one);
}

.sc3-div2 {
    width: 100%;
    gap: 2rem;

}

.sc3-div2-box {
    width: 90%;
    border: 1px solid var(--orange-color-one);
    padding: 1rem;
    gap: 1rem;
    background-color: var(--white-color-one);
}

/*footer section*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    flex-direction: column;
}

/*accreditation*/
.accreditation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
    gap: 20px;
    width: 100%;
    padding: var(--spacing-large);
    justify-content: center;
    align-items: center;


}

.right-div {
    margin-left: 0;
    text-align: left;
}

.left-div {
    margin-right: 0;
    text-align: right;
}

.accreditation img {
    width: 25vw;
}

/*more information*/
.company-info {
    padding: var(--spacing-large);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 2rem;
}

.company-info h4 {
    color: var(--orange-color-one);
}

.more-info, .services {
    justify-self: stretch;
    margin-left: 3rem;
}

.address, .disclaimer, .copyright-div{
    padding: var(--spacing-large);
    text-align: center;
}

.copyright-div {
    background-color: black;
}

.copyright-div h4 {
    color: var(--white-color-one);
}

.payment-list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.payment-options div img {
    width: 50px;
}





/* Medium devices (tablets, 600px to 899px) */
@media (min-width: 600px) and (max-width: 899px) {
    /* Styles for medium screens */
    h1 {
        font-size: clamp(2rem, 1.5rem + 2.5vw, 3rem);
    }

    h2 {
        font-size: clamp(1.6rem, 0.195rem + 3.746vw, 2.3rem);
    }

    h3 {
        font-size: clamp(1.5rem, 0.497rem + 2.676vw, 2rem);
    }

    h4 {
        font-size: clamp(1.1rem, 0.097rem + 2.676vw, 1.6rem);
    }

    .section-two{
        flex-direction: column-reverse;
        padding-left: 3vw;
        padding-right: 3vw;
        gap: 1rem;
        margin-top: 5vh;
    }

    .sc-two-div1 img {
        width: 100vw;
    }
}

/* Large devices (desktops, 900px to 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
    /* Styles for large screens */
    h1 {
        font-size: clamp(2.3rem, -0.409rem + 4.816vw, 3.2rem);
    }

    li, a {
        font-size: clamp(1.2rem, 1rem + 0.9vw, 1.4rem);
    }

    h2 {
        font-size: clamp(1.8rem, -1.06rem + 5.084vw, 2.75rem);
    }

    h4 {
        font-size: clamp(1.1rem, -0.104rem + 2.14vw, 1.5rem);
    }


    .nav-bar ul {
        gap: var(--spacing-large);
        padding: 0 2rem;
    }

    .section-one {
        flex-direction: row;
        padding-left: 5vw;
        padding-right: 5vw;
        gap: 2rem;
    }

    /*    section two*/

    .section-two{
        flex-direction: row;
        padding-left: 7vw;
        padding-right: 7vw;
        margin-top: 5vh;
    }

    .sc-two-div1 img {
        width: 60vw;
        z-index: 5;
    }

    .sc-three-div2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 8px;
        grid-template-areas:
        "div1 div2 div6 div5"
        "div1 div2 div4 div5"
        "div1 div2 div4 div5"
        "div3 div3 div4 div7"
        "div3 div3 div8 div8";
    }

    .div1 {
        grid-area: div1;

    }

    .div2 {
        grid-area: div2; /* div2 is not directly mapped to grid-template-areas; please assign as needed */
    }

    .div3 {
        grid-area: div3;
        align-self: end;
    }

    .div4 {
        grid-area: div4;

    }

    .div5 {
        grid-area: div5;
    }

    .div6 {
        grid-area: div6;
    }

    .div7 {
        grid-area: div7;
    }

    .div8 {
        grid-area: div8;
    }

    /*    section-four*/
    .sc3-div2 {
        flex-direction: row;
    }

    .sc3-div2-box {
        background-color: var(--white-color-one);
        width: 25vw;
        height: 45vh;
    }

    .sc3-div2-box p {
        font-size: 1rem;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Styles for extra-large screens */
    h1 {
        font-size: clamp(2.5rem, 0.625rem + 2.5vw, 3.75rem);
    }

    li, a {
        font-size: clamp(1.25rem, 1.05rem + 0.8vw, 1.5rem);
    }

    h2 {
        font-size: clamp(2rem, 0.5rem + 2vw, 3rem);
    }

    h4 {
        font-size: clamp(1.2rem, 0.6rem + 0.8vw, 1.6rem);
    }

    .nav-bar ul {
        gap: 3rem;
        padding: 0 2rem;
    }

    .section-one {
        flex-direction: row;
        padding-left: 20vw;
        padding-right: 20vw;
        gap: 4rem;
    }

    .sc-div1 img {
        height: 70vh;
    }

    .sc-div2 {
        padding: var(--spacing-large);
    }

    .sc-div2 h2 {
        color: var(--dark-green-one);
        width: 30vw;
    }

/*    section two*/

    .section-two{
        flex-direction: row;
        padding-left: 10vw;
        padding-right: 10vw;
        gap: 4rem;
        margin-top: -5vh;
    }

    .sc-two-div1 img {
        width: 50vw;
        z-index: 5;
    }

    /*section-three*/
    .sc-three-div2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 8px;
        grid-template-areas:
        "div1 div2 div6 div5"
        "div1 div2 div4 div5"
        "div1 div2 div4 div5"
        "div3 div3 div4 div7"
        "div3 div3 div8 div8";
    }

    .div1 {
        grid-area: div1;

    }

    .div2 {
        grid-area: div2; /* div2 is not directly mapped to grid-template-areas; please assign as needed */
    }

    .div3 {
        grid-area: div3;
        align-self: end;
    }

    .div4 {
        grid-area: div4;

    }

    .div5 {
        grid-area: div5;
    }

    .div6 {
        grid-area: div6;
    }

    .div7 {
        grid-area: div7;
    }

    .div8 {
        grid-area: div8;
    }


/*    section-four*/
    .sc3-div2 {
        flex-direction: row;
    }

    .sc3-div2-box {

        width: 25vw;
        height: 35vh;
    }

    /*footer    */
    .accreditation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 4rem;

    }

    .left-div, .right-div {
        text-align: center;
        flex: 1;
    }

    .accreditation img {
        width: auto;
        height: 3rem;
    }

    /*    footer*/
    .company-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 1rem;
    }

    .services, .more-info {
        margin-left: 0;
    }

    .info-box {
        padding: var(--spacing-large);
    }

    .disclaimer {
        margin: 0 6rem;
    }

}


