* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green-color-one: #0dbdad;
  --orange-color-one: #f7921e;
  --dark-green-one: #023442;
  --white-color-one: #ffffff;
  --light-green-one: #eff6ec;
  --light-grey-one: #d9d9d9;
  --spacing-large: 2rem;
}

/*header*/
h1,
h2 {
  font-family: "Raleway", sans-serif;
}

h3,
h4,
h5,
h6,
li {
  font-family: "Raleway", sans-serif;
}

p,
label,
a {
  font-family: "Outfit", sans-serif;
}

/* Font Sizes */

h1 {
  font-size: clamp(1.7rem, 1.199rem + 3.209vw, 2.4rem);
}
h2 {
  font-size: clamp(1.5rem, 1.07rem + 2.751vw, 2.1rem);
}

h3 {
  font-size: clamp(1.3rem, 0.942rem + 2.292vw, 1.8rem);
}

h4 {
  font-size: clamp(1rem, 0.642rem + 2.292vw, 1.5rem);
}

li,
a,
p,
h6 {
  font-size: clamp(1rem, 0.8rem + 1vw, 1.2rem);
}

p {
  font-weight: 300;
}

h6 {
  font-weight: 500;
}

body h2,
body h3,
footer h4,
footer h6 {
  color: var(--dark-green-one);
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

/*header*/

header {
  padding: 1rem;
  justify-content: space-between;
  position: absolute;
  z-index: 200;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}

header,
.nav-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar ul {
  justify-content: space-evenly;
  gap: 0.4rem;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li a {
  color: var(--white-color-one);
}

.nav-bar ul li a:hover {
  background-color: var(--orange-color-one);
  border: 5px solid var(--orange-color-one);
}

header img {
  width: 7rem;
}

main {
  position: relative;
}
/*Hero or Home Section*/

#home {
  position: relative;
  height: 100vh; /* Make the section as tall as the viewport */
  overflow: hidden;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.background-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-content {
  position: absolute;
  text-align: center;
  bottom: 5%;
  gap: 0.8rem;
  padding: 1rem;
}

.hero-content h1 {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: var(--white-color-one);
}

.hero-content a {
  text-decoration: none;
  color: var(--white-color-one);
}

.button-design {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.8rem;
  background: var(--green-color-one);
  border-radius: 5px;
}

/*Why Us Section*/
.why-us-section,
.d-container1,
.d-container2 .record {
  display: flex;
  flex-direction: column;
}

.why-us-section {
  padding: 4rem;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.d-container1 {
  gap: var(--spacing-large);
  align-items: center;
}

.text-with-border {
  display: inline-block;
  width: fit-content;
  padding: 0.7rem;
  border: 1px solid var(--green-color-one);
  border-radius: 25px;
}

.text-with-border span {
  background-color: var(--orange-color-one);
  border-radius: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

.why-us-record {
  display: flex;
  gap: var(--spacing-large);
  width: fit-content;
}

.record h1 {
  color: var(--orange-color-one);
  font-weight: 900;
}

.d-container1 .button-design {
  width: fit-content;
  color: var(--white-color-one);
}

.d-container1 a {
  text-decoration: none;
}

.d-container2 {
  width: 80vw;
  position: relative;
  border-radius: 50%;
}

.image-background {
  position: relative;
  width: 100%;
  border-radius: 50%;
  border: 2px dotted grey;
  padding: 1rem;
}

.d-container2 img {
  width: 100%;
  border-radius: 50%;
  border: 20px solid #eff6ec;
}

/*Destination Section*/

.destinations,
.destinations-card-container,
.destinations-card,
.card-title,
.email-input-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinations {
  padding: 3rem;
  background-color: var(--light-green-one);
  gap: 3rem;
}

.destination-title {
  text-align: center;
  gap: 1.2rem;
}

.destination-title h2 {
  color: var(--dark-green-one);
}

.destinations-card-container {
  width: 80%;
  gap: var(--spacing-large);
  padding: 1rem;
}

.destinations-card {
  width: 70vw;
  gap: 1rem;
  border: 1px solid var(--light-grey-one);
}

.card-title {
  gap: 1.2rem;
  width: 100%;
  text-align: left;
  padding: 1rem;
  height: 10rem;
}

.card-title h4 {
  color: var(--orange-color-one);
}

.card-title p {
  font-size: 1rem;
}

.destinations-card img {
  width: 70vw;
}
/*About Us and trips and newsletter*/

.about-us {
  background-image: url("images/background1.png");
  text-align: center;
}

.about-us,
.newsletter {
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  padding: 4rem;
  gap: var(--spacing-large);
  color: var(--white-color-one);
}

.about-us a {
  text-decoration: none;
  color: var(--white-color-one);
}

.about-us .button-design {
  background-color: black;
}

/*trips section*/
.trips {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.trips h1 {
  color: var(--dark-green-one);
}

.trips-title {
  text-align: center;
  padding: 2rem;
  gap: var(--spacing-large);
}

.trips-container {
  width: 80%;
  gap: 1rem;
}

.trips-card {
  width: 100%;
}

.trips-card a {
  text-decoration: none;
}

.trips-card h4 {
  padding: 1.5rem;
  background-color: black;
  margin-top: -10px;
  color: var(--orange-color-one);
  font-weight: bold;
}

.trips-container img {
  width: 100%;
}

/*award section*/
.award {
  align-items: center;
  text-align: center;
  width: 100%;
  gap: var(--spacing-large);
  padding: 3rem;
  background-color: var(--light-green-one);
}

.award-container {
  width: 90%;
  padding: 1rem;
  gap: 1rem;
}

.award-container .award-img,
.award-img img {
  width: 100%;
  height: 4rem;
}

/*newsletter section*/
.newsletter {
  position: relative;
  background-image: url("images/background2.png");
}

.newsletter h2 {
  color: var(--white-color-one);
}
.newsletter-text {
  width: 80%;
  text-align: justify;
}

.email-input {
  flex-direction: column;
  padding: 0.5rem;
  width: 90%;
  gap: 0.5rem;
}

.email-input-box1 {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--light-grey-one);
  background-color: var(--white-color-one);
  padding: 0 10px;
}

.email-input-box1 input {
  width: 80%;
  padding: 0.5rem;
  border: none;
  height: 3rem;
}

.email-button button {
  height: 3rem;
  padding: 0.5rem;
  border: none;
  background-color: var(--green-color-one);
  font-size: 0.8rem;
  font-family: "Outfit", sans-serif;
  color: var(--white-color-one);
}

.email-input input::placeholder {
  font-family: "Outfit", sans-serif;
  color: var(--green-color-one);
  font-size: 1.2rem;
}

.email-input input:focus {
  outline: none;
}

.email-input img {
  height: 1.8rem;
}

.email-input input[type="email"] {
  color: var(--green-color-one);
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
}

s



/* maintaining the video aspect ratio */
@media (min-aspect-ratio: 16/9) {
  .background-container video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-container video {
    width: auto;
    height: 100%;
  }
}

/*Adjustment for small devices so that the content will not overlap the header */
@media (orientation: landscape) and (max-height: 400px) {
  .hero-content {
    bottom: 0.5rem; /* Reduce bottom padding in landscape */
    font-size: 0.7rem; /* Optional: reduce font size for better fit */
    padding: 0.3rem;
  }
}

/* Medium devices (tablets, 600px to 899px) */
@media (min-width: 600px) and (max-width: 899px) {
  /* Styles for medium screens */
  h1 {
    font-size: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  }

  h2 {
    font-size: clamp(1.6rem, 0.195rem + 3.746vw, 2.3rem);
  }

  h3 {
    font-size: clamp(1.5rem, 0.497rem + 2.676vw, 2rem);
  }

  h4 {
    font-size: clamp(1.1rem, 0.097rem + 2.676vw, 1.6rem);
  }

  /*   trips */
  .trips {
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .trips-title {
    width: 100%;
  }

  .trips {
    flex-direction: column;
    gap: 0.5rem;
  }

  .trips-container {
    padding: 0;
  }

  .trips-container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
  }

  .trips-card {
    width: 100%;
  }

  .trips-card a h4 {
    font-size: 1.2rem;
  }

  /*    award section*/
  .award {
    flex-direction: row;
    align-items: flex-start;
  }

  /*   Newsletter */

  .accreditation img {
    width: 15vw;
  }
}

/* Large devices (desktops, 900px to 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  /* Styles for large screens */
  h1 {
    font-size: clamp(2.3rem, -0.409rem + 4.816vw, 3.2rem);
  }

  li,
  a {
    font-size: clamp(1.2rem, 1rem + 0.9vw, 1.4rem);
  }

  h2 {
    font-size: clamp(1.8rem, -1.06rem + 5.084vw, 2.75rem);
  }

  h4 {
    font-size: clamp(1.1rem, -0.104rem + 2.14vw, 1.5rem);
  }

  .hero-content {
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    align-items: flex-end;
    gap: 12rem;
    padding: var(--spacing-large);
    bottom: 1rem;
    width: 100vw;
  }

  .hero-content h1 {
    width: 60vw;
  }

  .button-design {
    width: 12rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .nav-bar ul {
    gap: var(--spacing-large);
    padding: 0 2rem;
  }

  .why-us-section {
    flex-direction: row;
    justify-content: space-between;
  }
  .d-container1 {
    width: 45vw;
  }
  .d-container2 {
    width: 45vw;
    padding: var(--spacing-large);
  }

  /* destinations section */
  .destinations-card-container {
    padding: 0;
    width: 100%;
    display: grid;
    justify-items: stretch;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6";
  }

  .destinations-card {
    width: 100%;
  }

  .card-title {
    line-height: 1.5;
    max-height: calc(1.5em * 6);
    padding: 1rem;
  }

  .destinations-card-container img {
    width: 100%;
  }

  /*   trips */
  .trips {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .trips-title {
    width: 100%;
  }

  .trips-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    padding: 0;
  }

  .trips-card {
    width: 100%;
  }

  .award {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .award-container {
    width: 35%;
  }

  .email-input {
    flex-direction: row;
    width: 70%;
    background-color: var(--white-color-one);
  }

  .email-input-box1 {
    width: 80%;
  }

  .accreditation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 4rem;
  }

  .left-div,
  .right-div {
    text-align: center;
    flex: 1;
  }

  .accreditation img {
    width: auto;
    height: 3.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra-large screens */
  h1 {
    font-size: clamp(2.5rem, 0.625rem + 2.5vw, 3.75rem);
  }

  li,
  a {
    font-size: clamp(1.25rem, 1.05rem + 0.8vw, 1.5rem);
  }

  h2 {
    font-size: clamp(2rem, 0.5rem + 2vw, 3rem);
  }

  h4 {
    font-size: clamp(1.2rem, 0.6rem + 0.8vw, 1.6rem);
  }

  .hero-content {
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    align-items: flex-end;
    gap: 15rem;
    padding: var(--spacing-large);
    bottom: 1rem;
    width: 100vw;
  }

  .hero-content h1 {
    width: 50vw;
  }

  .button-design {
    width: 12rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .nav-bar ul {
    gap: 3rem;
    padding: 0 2rem;
  }

  .why-us-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .d-container1 {
    width: 45vw;
  }
  .d-container2 {
    width: 45vw;
    padding: var(--spacing-large);
  }

  .destinations {
    padding: 4rem 8rem;
  }

  .destinations-card-container {
    padding: 0;
    width: 100%;
    display: grid;
    justify-items: stretch;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6";
  }

  .destinations-card {
    width: 100%;
  }

  .card-title {
    line-height: 1.5;
    max-height: calc(1.5em * 6);
  }

  .destinations-card-container img {
    width: 100%;
  }

  /*   trips */
  .trips {
    padding: 4rem;
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
  }

  .trips-title {
    width: 25%;
  }

  .trips,
  .trips-container {
    flex-direction: row;
    gap: var(--spacing-large);
  }

  /*award*/
  .award {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;
  }
  .award-container {
    width: 25%;
  }

  .award-img img {
    width: 60%;
  }

  /*newsletter section*/

  .newsletter {
    padding: 4rem;
  }
  .email-input {
    flex-direction: row;
    width: 60%;
  }

  .email-button button {
    font-size: 1.2rem;
  }

  /*footer    */
  .accreditation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 4rem;
  }

  .left-div,
  .right-div {
    text-align: center;
    flex: 1;
  }

  .accreditation img {
    width: auto;
    height: 3rem;
  }

  /*    footer*/
  .company-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
  }

  .services,
  .more-info {
    margin-left: 0;
  }

  .info-box {
    padding: var(--spacing-large);
  }

  .disclaimer {
    margin: 0 6rem;
  }
}
